<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="http://creativecrowd.cc">
				Powered by creativecrowd.cc
			</a>
		</div>
		{% if not state.finalised %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/settings">Settings</a></li>
		</ul>
		{% endif %}
	</div>
</nav>
