<div class="dz-upload-complete {{ "hidden" if not (success and isPostback) }}">
	<h2>Email a friend!</h2>
	<form class="form form-group-sm" action="/send" method="POST">
		{% if isPostback %}
		<input type="hidden" name="bundle" value="{{ bundle.id }}" />
		{% endif %}
		<div class="form-group">
			<input type="text" id="from" name="email[from]" class="form-control" placeholder="Your email">
		</div>

		<div class="form-group">
			<input type="text" id="to" name="email[to]" class="form-control" placeholder="Your friend's email">
		</div>

		<div class="form-group">
			<textarea placeholder="Message" name="email[body]" class="form-control no-resize" rows="5"></textarea>
		</div>

		<div class="form-group ">
			<button type="submit" name="submit" class="btn btn-default full-width">Send</button>
		</div>
	</form>
</div>
