<div class="col-md-12">
	<h1>{{ general.title | safe }}</h1>
	<h4>{{ general.subtitle | safe }}</h4>
</div>

{% if security.accessRights == 'restricted' and user %}
<div class="profile dropdown" data-dropdown>
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">	
	    <img src="{{ user.picture }}" />
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/signout/"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
	</ul>
</div>
{% endif %}