
body {
	background-color: #000000;
	font-family: "kulturista-web";
	background: url("../assets/204H.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;

}

/*// ------------------------------------------------------------------------------------------ Header */

header h1 a,
header h1 a:hover {
	text-decoration: none;
	color: inherit;
}

nav.navbar.navbar-inverse {
	border: none;
	background-color: rgba(0,0,0,0.5);
}

nav.navbar .navbar-brand {
	font-size: 10px;
}

.no-resize{
	resize: none;
}
.full-width{
	width:100%;
}
